body 		{	background-color: #5f8d59; 
                color: #221811; 
                font-family: verdana;}
    
header 		{ 	background-color: #c5e3eb;
                background-repeat: no-repeat;
                height: 150px;
                margin-left: 100px;
                margin-right: 100px;}
    
h1 			{ 	padding-top: 45px;
                padding-left: 190px;
                font-size: 3em;}
    
main		{	font-size: 1.57em;
                padding-bottom: 2em;
                padding-left: 0;
                padding-right: 0;
                padding-top: 1px;
                margin-left: 30px;
                margin-top: 40px;
                height: 275px;
                display: block;}
    
footer 		{ 	background-color: #c5e3eb; 
                font-size: .60em; 
                font-style: italic; 
                text-align: center;
                padding-bottom: 10px;
                margin-left: 100px;
                margin-right: 100px;
                border-top: 2px solid #221811;}
    
img			{	padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;}
    
#wrapper 	{ 	width: 80%; 
                margin-left: auto; 
                margin-right: auto;
                background-color: #f3edc6;
                min-width: 900px;
                max-width: 1280px;
                box-shadow: 2px 2px 2px;} 